<!-- FOOTER -->
<!--===================================================-->
<footer id="footer">
    <!-- Visible when footer positions are static -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="hide-fixed pull-right pad-rgt">
        Contractors & Projects Management Portal 
    </div>



</footer>
<!--===================================================-->
<!-- END FOOTER -->
